@model KidKarpool.Models.Accept

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Accept</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentAcceptingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentAcceptingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarMakeModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarMakeModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AcceptID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
