@model KidKarpool.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Accept Request Details</h1>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script scr="https://ajax.googleapis.com/ajax/libs/jquer/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div>
    
    <h4> You have accepted a ride request. Please click on the "Start Ride" button when child is picked up and the "End Ride" button when child is dropped off.</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfPickUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOfPickUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentifyLot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentifyLot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        
    </dl>
    <form asp-action="StartTime" method="post">
        <input asp-for="RequestID" />
        <input type="hidden" asp-for="ParentName" />
        <input type="hidden" asp-for="StudentName" />
        <input type="hidden" asp-for="StudentClass" />
        <input type="hidden" asp-for="TimeOfPickUp" />
        <input type="hidden" asp-for="IdentifyLot" />
        <input type="hidden" asp-for="PhoneNumber" />
        <input type="hidden" asp-for="DriverPhoneNumber" />
        <input type="hidden" asp-for="CarMakeModel" />
        <input type="hidden" asp-for="ParentAcceptingName" />

        <div class="form-group">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
    <form asp-action="EndTime" method="post">
        <input type="hidden" asp-for="RequestID" />
        <input type="hidden" asp-for="ParentName" />
        <input type="hidden" asp-for="StudentName" />
        <input type="hidden" asp-for="StudentClass" />
        <input type="hidden" asp-for="TimeOfPickUp" />
        <input type="hidden" asp-for="IdentifyLot" />        
        <input type="hidden" asp-for="RideStartTime" />
        <input type="hidden" asp-for="PhoneNumber" />
        <input type="hidden" asp-for="DriverPhoneNumber" />
        <input type="hidden" asp-for="CarMakeModel" />
        <input type="hidden" asp-for="ParentAcceptingName" />        
        <button type="button" class="btn btn-danger">End Ride</button>
    </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RequestID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
